#include "resource.h"

#ifndef _resource_rc
#define _resource_rc

IDI_ICON1         ICON    "fly.ico"
IDB_BITMAP_FLY_1  BITMAP  "Flies/Black/fly_1.bmp"
IDB_BITMAP_FLY_2  BITMAP  "Flies/Black/fly_2.bmp"
IDB_BITMAP_FLY_3  BITMAP  "Flies/Red/fly_3.bmp"
IDB_BITMAP_FLY_4  BITMAP  "Flies/Yellow/fly_4.bmp"
IDB_BITMAP_FLY_5  BITMAP  "Flies/White/fly_5.bmp"
IDB_BITMAP_FLY_6  BITMAP  "Flies/White/fly_6.bmp"
#endif 